* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

.flag {
    height: 120px;
    width: 120px;
}

.box {
    background: #f5f5f5;
    width: 800px;
    margin: 30px 0;
}

.section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    h1 {
        color: blue;
        text-transform: uppercase;
        font-size: 40px;
        padding-left: 20px;
    }
}

.header {
    color: #ffff;
    background: blue;
    text-align: start;
    padding-left: 10px;
}

.header2 {
    background: blue;
    color: blue;
}

.dataBox {
    display: flex;
    justify-content: flex-start;
    color: blue;
}

.title {
    text-align: start;
    background: orange;
    padding-right: 30px;
    padding-left: 10px;
    flex: 1;
}

.title-content {
    background: yellow;
    text-align: start;
    padding-left: 20px;
    flex: 2;
}

.output {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
    li {
        list-style-type: none;
    }
}

h3 {
    padding: 5px 0;
}